body {
    background-image: url(./mosaic.jpg);
    background-repeat: repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    margin: 0 auto;
    padding: 0 auto;
    height: 100vh;

}